<!-- <div style="display: flex;">
    <div style="width: 85%;">
        <h1 [routerLink]="['/dashboard']">
            {{'header.title' | translate}}
        </h1>
    </div>
    <div>
        <form [formGroup]="language" autocomplete="off">
            <select class="custom-select" formControlName="lang" (change)="changeLanguage($event.target.value)"
                id="inputGroupSelect01">
                <option value="en" selected>English</option>
                <option value="te">తెలుగు</option>
            </select>
        </form>
    </div>
</div> -->

<div style="display: flex;">
    <div style="width: 100%;">
        <h1 [routerLink]="['/dashboard']">
            {{'header.title' | translate}}
        </h1>
    </div>
</div>