h1:hover{
    text-decoration: underline;
    cursor: pointer;
}

    form {
         background: none !important; 
         padding: 0 !important; 
         animation: none !important; 
    }
