<div class="container-fluid">
    <h1 style="text-align: center;">Blood Donor Details</h1>
    <div class="row" style="margin-top: 40px;">
        <div class="col-sm-3 col-md-3">
            <p>Donor ID</p>
        </div>
        <div class="col-sm-3 col-md-3 value-font">
            <p>{{product.donorId}}</p>
        </div>
        <div class="col-sm-3 col-md-3">
            <p>Donor's Name</p>
        </div>
        <div class="col-sm-3 col-md-3 value-font">
            <p>{{product.name}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-md-3">
            <p>Gender</p>
        </div>
        <div class="col-sm-3 col-md-3 value-font">
            <p>{{product.gender}}</p>
        </div>
        <div class="col-sm-3 col-md-3">
            <p>Phone Number</p>
        </div>
        <div class="col-sm-3 col-md-3 value-font">
            <p>{{product.phone}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-md-3">
            <p>Blood Group</p>
        </div>
        <div class="col-sm-3 col-md-3 value-font">
            <p>{{product.bloodGroup}}</p>
        </div>
        <div class="col-sm-3 col-md-3">
            <p>Donation Date</p>
        </div>
        <div class="col-sm-3 col-md-3 value-font">
            <p>{{product.donationDate}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-md-3">
            <p>Date of Birth</p>
        </div>
        <div class="col-sm-3 col-md-3 value-font">
            <p>{{product.age}}</p>
        </div>
        <div class="col-sm-3 col-md-3">
            <p>Address</p>
        </div>
        <div class="col-sm-3 col-md-3 value-font">
            <p>{{product.address}}</p>
        </div>
    </div>
    <div class="row" style="margin-top: 50px; text-align: center;">
        <div class="col-sm-4 col-md-4">
            <p class="footer-sign">Date & Time</p>
        </div>
        <div class="col-sm-4 col-md-4">
            <p class="footer-sign">Donor's Signature</p>
        </div>
        <div class="col-sm-4 col-md-4">
            <p class="footer-sign">Hospital Incharge Signature</p>
        </div>
    </div>
    <div class="row" style="text-align: center;">
        <div class="col-sm-4 col-md-4 value-font">
            <p></p>
        </div>
        <div class="col-sm-4 col-md-4">
            <p></p>
        </div>
        <div class="col-sm-4 col-md-4">
            <p></p>
        </div>
    </div>
</div>