<div class="container-fluid">
    <h1 style="text-align: center;">New Born Details</h1>
    <div class="row" style="margin-top: 40px;">
        <div class="col-sm-3 col-md-3">
            <p>New Born Child ID</p>
        </div>
        <div class="col-sm-3 col-md-3 value-font">
            <p>{{product.childId}}</p>
        </div>
        <div class="col-sm-3 col-md-3">
            <p>Mother's Admission ID</p>
        </div>
        <div class="col-sm-3 col-md-3 value-font">
            <p>{{product.motherAdmissionIdHospitals}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-md-3">
            <p>Name of Child</p>
        </div>
        <div class="col-sm-3 col-md-3 value-font">
            <p>{{product.nameOfChild}}</p>
        </div>
        <div class="col-sm-3 col-md-3">
            <p>Name of Father</p>
        </div>
        <div class="col-sm-3 col-md-3 value-font">
            <p>{{product.nameOfFather}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-md-3">
            <p>Name of Mother</p>
        </div>
        <div class="col-sm-3 col-md-3 value-font">
            <p>{{product.nameOfMother}}</p>
        </div>
        <div class="col-sm-3 col-md-3">
            <p>Place of Birth</p>
        </div>
        <div class="col-sm-3 col-md-3 value-font">
            <p>{{product.placeOfBirth}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-md-3">
            <p>Date of Birth</p>
        </div>
        <div class="col-sm-3 col-md-3 value-font">
            <p>{{product.dob}}</p>
        </div>
        <div class="col-sm-3 col-md-3">
            <p>Gender</p>
        </div>
        <div class="col-sm-3 col-md-3 value-font">
            <p>{{product.gender}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-md-3">
            <p>Parent's Permanent Address</p>
        </div>
        <div class="col-sm-3 col-md-3 value-font">
            <p>{{product.parents_permanenet_address}}</p>
        </div>
    </div>
    <div class="row" style="margin-top: 50px; text-align: center;">
        <div class="col-sm-4 col-md-4">
            <p class="footer-sign">Date & Time</p>
        </div>
        <div class="col-sm-4 col-md-4">
            <p class="footer-sign">Patient's Signature</p>
        </div>
        <div class="col-sm-4 col-md-4">
            <p class="footer-sign">Hospital Incharge Signature</p>
        </div>
    </div>
    <div class="row" style="text-align: center;">
        <div class="col-sm-4 col-md-4 value-font">
            <p></p>
        </div>
        <div class="col-sm-4 col-md-4">
            <p></p>
        </div>
        <div class="col-sm-4 col-md-4">
            <p></p>
        </div>
    </div>
</div>